%li.clearfix
  .message-user
    .user-img
      = image_tag("user-icon.svg", class:"user-icon")
  .message-body
    .message-text
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .message-icons.clearfix
      .icon-left
        %i.time
        %p.text 50日前
      .icon-right
        =link_to "",class: 'report' do
          %i.flag
    %i.balloon
