= render 'header'

%main.white
  %img.section.owl-carousel.top-carousel.owl-loaded.owl-drag{alt: 'メルカリ', src: 'assets/mercari_carousel.png'}

  %section.pickup-container
    %h2.pickup-head
      %a.pickup-head-name ピックアップカテゴリー
    = render 'content'
  %section.pickup-container
    %h2.pickup-head
      %a.pickup-head-name ピックアップブランド
    = render 'content'

= render partial: 'footer'
