.mypage
  .mypage_contents
    .mypage__content-box
      .mypage__content-head
        %h3.mypage__content-label 購入した商品
      .mypage__tabs-bottom
        %button.mypage__tabs-list
          .mypage__tabs-text 取引中
        %button.mypage__tabs-list
          .tab-active
            .mypage__tabs-text 過去の取引
      .mypage__no-item
        .mypage__no-item-icon
        .mypage__no-item-text 過去に取引した商品がありません
