.mypage__tabs
  =link_to "",class: "mypage__tab" do
    .mypage__tabs-list
      %ul
        %li
          %h4.mypage__tabs-text おしらせ
  =link_to "",class: "mypage__tab" do
    .mypage__tabs-list
      %ul
        %li.tab-active
          %h4.mypage__tabs-text やることリスト
.mypage__no-item
  .mypage__no-item-icon
  .mypage__no-item-text 現在、やることリストはありません
