.items-box-container-search {
  width: 63%;
  background-color: $Lightgray;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 50px;
  .text-center-result {
    height: 22px;
    width: 95%;
    margin: 26px auto;
    text-align: center;
    font-size: 22px;
  }

  .items-box-content {
    height: 330px;
    width: 100%;
    .items-box {
      height: 330px;
      width: 25%;
      background-color: red;
      box-sizing: border-box;
      float: left;
      border: 10px solid $Lightgray;
      margin-top:20px;

      .items-box-photo {
        height: 220px;
        width: 100%;
        background-color: $Lightgray;
        box-sizing: border-box;
        text-align: center;
        margin: auto;
        .items-box-photo-photo {
          height: 100vh;
          object-fit: cover;
        }
      }

      .items-box-body {
        height: 110px;
        width: 100%;
        padding: 10px;
        background-color: $White;
        box-sizing: border-box;
        color: #333;
        .items-box-name.font-2 {
          height: 48px;
          width: 100%;
          background-color:$White;
          margin: 0;
          overflow: hidden;
          text-align: left;
          font-size: 16px;
        }

        .items-box-num.clearfix {
          height: 30px;
          width: 100%;
          margin-top: 8px;
          background-color:$White;
          .items-box-price.font-5 {
            height:20px;
            float: left;
            font-size: 20px;
            font-weight: bold;
          }

          .items-box-likes.font-2 {
            height:20px;
            float: right;
          }

          .item-box-tax {
            height:10px;
            font: 66.66667% sans-serif;
            clear: both;
            margin: 0;
            text-align: left;
          }
        }
      }
    }
  }
}

.items-box-content_none {
  height: 80px;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

i.like.font-2::before{
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  color: $Gray;
  display: inline-block;
  padding-right: 5px;
  float: right;
  font-size: 18px;
}
