.sidebar_wrapper {
  max-width:700px;
  margin: 0 auto;
  .sidebar {
    margin-bottom:40px;
    &__title {
      padding-bottom:5px;
      font-weight: bold;
    }
    &__content {
      height:50px;
      @include mypage-content-parts;
      float:left;
      &-name {
        float:left;
        font-size: 14px;
        padding:auto 5px;
        line-height: 50px;
      }
      &-angle {
        @include mypage-content-angle;
        color: gray;
      }
    }
    &__current{
      height:50px;
      width:100%;
      text-decoration: none;
      border-bottom:thin solid;
      border-color: $gray;
      box-sizing:border-box;
      padding:0 15px;
      background-color:gray;
      float:left;
      padding:0 15px;
      &-angle {
        @include mypage-content-angle;
        color: black;
      }
    }
    @include clearfix;
  }
}

@media screen and (min-width: 1060px) {
  .mypage{
    float:right;
    width:700px;
  }
  .sidebar_wrapper {
    width:280px;
    float:left;
  }
}
