  .single-main {
    margin: 0 auto;

    .login-panel {
      background-color:$White;
      max-width: 456px;
      margin:0 auto;
      padding: 0 32px;

      .login-no-account {
        border-bottom:1px solid $ThinGray;
        padding:24px 0;
        text-align:center;
        p {
          margin:0;
        }
      }
      .login-form-inner {
        padding:24px 0;
      }
    }
    a {
      color: $linkBlue;
      text-decoration:none;
    }
    .signup-panel {
      background-color:$White;
      max-width: 456px;
      margin:0 auto;
      padding: 0 40px;
      &__head {
        border-bottom:1px solid $ThinGray;
        margin: 0;
        padding:24px 8px;
        text-align:center;
      }
      &__inner {
        padding:64px 0;
      }
    }
  }

  .product-name{
    text-align: center;
    font-size: 24px;
    line-height: 1.4;
  }
          .product-img-box-main{
            float:left;
            max-width: 300px;
          }
